venv
*.pyc
staticfiles
.venv
db.sqlite3
getting-started/*
.idea
.vscode
docker-compose.override.yml
*.code-workspace
.DS_Store
.coverage
.venv/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
